
header {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 102, 255);
    color: white;

}

body {
    
    background-color: lightgrey;
}   

#controls {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

label {

    display: none;
}

input {
    
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 40%;

}

button{

    background-color:rgb(17, 60, 250);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 15px;
    
}


table th {
    border: 2px solid;
    padding: 15px;
}

table td {
    padding: 15px;
    text-align: center;
    border: 1px solid;
}